@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.magic {
    background-color: #702000;
    color: rgb(255, 208, 0);
    font-family: 'Poppins', sans-serif;
    border: 0;
    border-radius: 0.1875rem;
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
    cursor: pointer;
    position: fixed;
    top: 1.25rem;
    letter-spacing: 0.0625rem;
    box-shadow: 0 0.1875rem rgba(249, 203, 36, 0.397);
    z-index: 100;
}

.magic:focus {
    outline: none;
}

.magic:active {
    box-shadow: none;
    transform: translateY(0.125rem);
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 31.25rem;
    width: 31.25rem;
    position: relative;
    transition: 400ms ease;
}

.boxes.big {
    width: 37.5rem;
    height: 37.5rem;
}

.boxes.big .box {
    transform: rotateZ(360deg);
}

.box {
    background-image: url(https://media4.giphy.com/media/ZC0ATzzJnKqn2SNDHR/giphy.gif?cid=ecf05e47o2wksqube99r2215mhy0benw6s2amojun6e36f9g&rid=giphy.gif);
    background-repeat: no-repeat;
    background-size: 31.25rem 31.25rem;
    position: relativevvf;
    height: 7.8125rem;
    width: 7.8125rem;
    transition: 400ms ease;
}

.box::after {
    content: '';
    background-color: #754938;
    position: absolute;
    top: 0.5rem;
    right: -0.9375rem;
    height: 100%;
    width: 0.9375rem;
    transform: skewY(45deg);
}

.box::before {
    content: '';
    background-color: #702000;
    position: absolute;
    bottom: -0.9375rem;
    left: 0.5rem;
    height: 0.9375rem;
    width: 100%;
    transform: skewX(45deg);
}